<div class="form__wrapper">
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".admin_log_cleaner_title" %></h2>
    </div>
    <div class="card-section">
      <div class="row column">
        <%= form.check_box :delete_admin_logs %>
      </div>

      <div class="row column">
        <%= form.number_field :delete_admin_logs_after %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".inactive_users_cleaner_title" %></h2>
    </div>
    <div class="card-section">
      <div class="row column">
        <%= form.check_box :delete_inactive_users %>
      </div>

      <div class="row column">
        <%= form.number_field :delete_inactive_users_email_after %>
      </div>

      <div class="row column">
        <%= form.number_field :delete_inactive_users_after %>
      </div>
    </div>
  </div>
</div>
